<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search de Enfermeros</title>
</head>
<body>
    <h1> Aca realizamos la busqueda de enfermeros</h1>
    <form action="/resultadoBusqueda/" method="GET">
        Ingresa el nombre del Enfermero a buscar: <input type ="text">
        <input type= "submit" value="Buscar">
    </form>

    {% for x in enfermeros %}

    <p> {{x.nombre}} <p>

        {% endfor %}

</body>
</html>